<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042007433123-f1jljnj0c21q4jubd7r1mp66d6b2kajb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042007433123-f1jljnj0c21q4jubd7r1mp66d6b2kajb</string>
	<key>API_KEY</key>
	<string>AIzaSyBh7tu6BtPGDru4eBze60xEkoRO1tTkb0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1042007433123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donggyu.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-79e5e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-79e5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042007433123:ios:195a972597411f41648416</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-79e5e.firebaseio.com</string>
</dict>
</plist>